/*
ALERTS
*/

@import '../core/_variables';
@import '../core/_mixins';

.alert {
  align-items: center;
  background-color: $white;
  box-shadow: $box-shadow;
  display: flex;
  height: 100px;
  justify-content: center;
  left: calc(50% - 150px);
  position: relative;
  top: 80px;
  transition: .3s ease margin .1s, .2s ease opacity .2s;
  width: 300px;
}

.alert__background {
  background-color: rgba(0,0,0,0.1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: .1s ease all .3s;
  width: 100%;
  z-index: $z-100;

  &.hidden {
    height: 1px;
    position: absolute;
    top: -1000px;
    width: 1px;

    .alert {
      opacity: 0;
    }
  }
}

.alert__text {
  text-align: center;
  width: 100%;
}

.alert__icon {
  display: block;
  font-size: $giant-font-size;
}

.alert--success {
  &:before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/86/Check_mark_23x20_04.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }
}

.alert--warning {

}

.alert--failure {

}