/*
  FOOTER
*/

@import '../core/variables';

footer {
  background-color: $light-gray;
  bottom: 0;
  font-size: 0.8em;
  left: 0;
  padding: $pad-mar-med;
  position: relative;
  text-align: center;
  width: 100%;
}
