/* header */

@import '../core/_variables';
@import '../core/_mixins';

.Header {
  background-color: $light-blue;
  padding: $pad-mar-med;

  &-top-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
