/*
INPUTS
======
- site-wide styles for inputs
- customize the built-in styles with bloom-forms inputs
*/

$slider-height: 10px;

@import '../core/_variables';
@import '../core/_mixins';

// hide number arrows
input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// gray out input placeholders
.input {
  &::-webkit-input-placeholder {
    color: $med-gray;
  }

  &::-moz-placeholder {
    color: $med-gray;
  }

  &:-ms-input-placeholder {
    color: $med-gray;
  }

  &:-moz-placeholder {
    color: $med-gray;
  }
}

// errored inputs
.input--invalid {
  box-shadow: 0 0 5px $red;
}

// wrapper label
.input__label {
  width: 100%;
}

// checkbox styles
.input--checkbox__placeholder {
  margin-right: $pad-mar-x-small;

  &.is-checked {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e9/Echo_curation_alt_check_mark.svg');
  }
}

// currency styles
.input--currency {
  & ~ .input__after {
    color: $light-gray;
    margin-top: 1.5em;
    position: absolute;
  }
}

// input display hiding native input
.input__placeholder {
  border-radius: $border-radius;
  color: $dark-gray;
  font-size: $main-font-size;
  margin: $pad-mar-small 0;
  width: 100%;
}

/* RANGE / SLIDERS */
// keep me in case we want our own custom range later

// input[type='range'] {
//   background: transparent;
//   width: 100%;
//   -webkit-appearance: none;
  
//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//   }

//   &::-ms-track {
//     background: transparent; 
//     border-color: transparent;
//     color: transparent;
//     cursor: pointer;
//     width: 100%;
//   }

//   &:focus {
//     outline: none;
//   }
// }

// input[type='range'].input--range {
//   border: none;
//   padding: 0;

//   // thumb circle
//   &::-webkit-slider-thumb {
//     background-color: $blue;
//     border: 1px solid $blue;
//     border-radius: 50%;
//     cursor: pointer;
//     height: 30px;
//     margin-top: -10px;
//     width: 30px;
//   }

//   &::-moz-range-thumb {
//     background-color: $white;
//     border: 1px solid $blue;
//     border-radius: 50%;
//     cursor: pointer;
//     height: 30px;
//     margin-top: -10px;
//     width: 30px;
//   }

//   &::-ms-thumb {
//     background-color: $white;
//     border: 1px solid $blue;
//     border-radius: 50%;
//     cursor: pointer;
//     height: 30px;
//     margin-top: -10px;
//     width: 30px;
//   }

//   // track
//   &::-webkit-slider-runnable-track {
//     background-color: $white;
//     border: 1px solid $blue;
//     border-radius: 5px;
//     height: $slider-height;
//     width: 100%;
//   }

//   // &:focus::-webkit-slider-runnable-track {
//   //   background-color: $white;
//   // }

//   &::-moz-range-track {
//     background-color: $white;
//     border: 1px solid $blue;
//     border-radius: 5px;
//     height: $slider-height;
//     width: 100%;
//   }

//   &::-moz-range-progress {
//     background-color: $blue;
//     height: $slider-height;
//   }

//   &:focus::-ms-fill-lower,
//   &::-ms-fill-lower {
//     background-color: $blue;
//     height: $slider-height;
//   }

//   &:focus::-ms-fill-upper,
//   &::-ms-fill-upper {
//     background-color: $white;
//     border: 1px solid $blue;
//     border-radius: 5px;
//     height: $slider-height;
//     width: 100%;
//   }
// }


