/*
MODAL
*/

@import '../core/_variables';

$modal-contents-width: 450px;

.modal {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  height: 100vw;
  left: 0;
  padding-top: 80px;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s ease margin, .3s ease opacity .1s, .3s ease padding, 0s ease height 0s;
  width: 100vw;
  z-index: calc(#{$z-100} + #{$z-1});

  &.hidden {
    height: 1px;
    opacity: 0;
    padding: 0;
    top: -800px;
    transition: .3s ease margin, .3s ease opacity .1s, .3s ease padding, 0s ease height .1s, 0s ease background-color 0s;
  }

  .modal-content {
    background-color: $white;
    margin: 0 auto;
    min-height: 400px;
    overflow: hidden;
    transition: .5s ease margin;
    width: $modal-contents-width;

    .btn-close {
      margin-left: calc(-40px + #{$modal-contents-width});
      margin-top: 2px;
      padding: $pad-mar-small;
      position: relative;
      z-index: calc(#{$z-100} + 1);
    }
  }
}

.modal-form {
  margin-top: -$pad-mar-x-large;
  position: relative;
  z-index: $z-100;
}
