/*
MODAL
*/

@import '../core/_variables';
@import '../core/mixins';

$modal-contents-width: 450px;

.Modal {
  @include transition(.3s ease, .3s ease opacity .1s, 0s ease height .3s, .1s ease top, .1s ease background-color .1s);
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  height: 100vh;
  left: 0;
  padding-top: 80px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: calc(#{$z-100} + #{$z-1});

  &.is-hidden {
    @include transition(.2s ease, .3s ease-in-out top .2s);
    background-color: transparent;
    padding: 0;
    top: -100vh;

    .Modal-content {
      opacity: 0;
    }
  }

  &-content {
    @include transition(.5s ease margin .1s, .5s ease opacity);
    background-color: $white;
    margin: 0 auto;
    min-height: 400px;
    opacity: 1;
    overflow: hidden;
    width: $modal-contents-width;

    .Btn-close {
      margin-left: calc(-40px + #{$modal-contents-width});
      margin-top: 2px;
      padding: $pad-mar-small;
      position: relative;
      z-index: calc(#{$z-100} + 1);
    }
  }

  &-form {
    margin-top: -$pad-mar-x-large;
    position: relative;
    z-index: $z-100;
  }
}

@media screen and (max-width: 800px) {
  .Modal {
    padding-top: 40px;

    &-content {
      max-height: 90vh;
    }
  }
}

@media screen and (max-width: 550px) {
  .Modal {
    &-content {
      width: calc(#{$modal-contents-width} * .6);

      .Btn-close {
        margin-left: calc(-45px + #{$modal-contents-width} * .6);
        top: inherit;
      }
    }
  }
}
