/*
MODAL
*/

@import '../core/_variables';
@import '../core/mixins';

$modal-contents-width: 450px;

.modal {
  @include transition(.3s ease, .3s ease opacity .1s, 0s ease height .3s, .1s ease top, .1s ease background-color .1s);
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  height: 100vh;
  left: 0;
  padding-top: 80px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: calc(#{$z-100} + #{$z-1});

  &.hidden {
    @include transition(.2s ease, .3s ease-in-out top .2s);
    background-color: transparent;
    padding: 0;
    top: -100vh;

    .modal-content {
      opacity: 0;
    }
  }

  .modal-content {
    @include transition(.5s ease margin .1s, .5s ease opacity);
    background-color: $white;
    margin: 0 auto;
    min-height: 400px;
    opacity: 1;
    overflow: hidden;
    width: $modal-contents-width;

    .btn-close {
      margin-left: calc(-40px + #{$modal-contents-width});
      margin-top: 2px;
      padding: $pad-mar-small;
      position: relative;
      z-index: calc(#{$z-100} + 1);
    }
  }
}

.modal-form {
  margin-top: -$pad-mar-x-large;
  position: relative;
  z-index: $z-100;
}
