/*
TABLES
*/

@import '../core/_variables';

.Table {
  border-bottom: 1px solid $med-gray;
  border-left: 1px solid $med-gray;
  border-spacing: 0;
  margin: $pad-mar-med 0;

  td,
  th {
    border-right: 1px solid $med-gray;
    border-top: 1px solid $med-gray;
    padding: $pad-mar-small;
    text-align: center;
  }

  th {
    color: $med-gray;
    font-weight: 400;
  }

  td {
    font-weight: 600;
  }
}