/*
TOOLTIP
*/

@import '~styles/core/variables';

.Tooltip {
  display: inline-block;
  position: relative;
  z-index: $z-100;

  &-icon {
    background-color: transparent;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Question_Mark.svg');
    background-position: -4px 0;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid $black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding: 0;
    width: 15px;
  }

  &--error {
    .Tooltip-contents {
      color: $red;
      margin: $pad-mar-small 0 0;
    }

    &--select {
      left: -100%;
      margin-top: 4em;
    }
  }

  &-contents {
    align-items: center;
    background-color: $white;
    box-shadow: $box-shadow;
    display: flex;
    font-size: $med-font-size;
    font-weight: 400;
    margin-left: -280px;
    margin-top: -70px;
    min-height: 80px;
    position: absolute;
    text-align: left;
    width: 250px;

    &::before {
      border-bottom: 17px solid transparent;
      border-left: 17px solid $light-gray;
      border-top: 17px solid transparent;
      content: '';
      display: inline-block;
      margin-left: 250px;
      position: absolute;
      top: 0;
    }

    &::after {
      border-bottom: 15px solid transparent;
      border-left: 15px solid $white;
      border-top: 15px solid transparent;
      content: '';
      display: inline-block;
      margin-left: 250px;
      position: absolute;
    }

    &-text {
      padding: $pad-mar-small $pad-mar-med;
    }

    &--right {
      margin-left: 35px;

      &::after {
        border-left: 0;
        border-right: 15px solid $white;
        margin-left: -15px;
        top: 3.1em;
      }

      &::before {
        border-left: 0;
        border-right: 17px solid $light-gray;
        margin-left: -17px;
        margin-top: 3em;
      }
    }

    &--top {
      &::after {
        border-bottom: 15px solid $white;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 0;
        margin-left: 50%;
        top: -15px;
      }

      &::before {
        border-bottom: 15px solid $light-gray;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 0;
        margin-left: 50%;
        margin-top: -7%;
      }
    }

    h6 {
      background-color: $lighter-gray;
      font-size: $h4-font-size;
      padding: $pad-mar-small $pad-mar-med;
    }
  }
}
