/*
TRANSITIONS
- used with CSS transition group
*/

.fold-enter {
  height: 50px !important;
}

.fold-enter.fold-enter-active {
  height: auto !important;
}

.fold-leave {
  height: calc(100% - 50px) !important;
}

.fold-leave.fold-leave-active {
  height: 50px !important;
}

.decend-entering {
  margin-top: -30px !important;
}

.decend-entered {
  margin-top: 0 !important;
}

.decend-exiting {
  margin-top: -10px !important;
}

.decend-exited {
  margin-top: -30px !important;
}
