/*
BASE
====
- tag element styles; overrides
*/

*:focus {
  outline: auto 5px $focus-color;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    &:before {
      display: none;
    }
  }
}
