/*
ErrorTip
*/

@import '~styles/core/variables';
@import '~styles/components/tooltip';

.ErrorTip {
  .ErrorTip--contents {
    @extend .Tooltip-contents;
    @extend .Tooltip-contents--top;

    color: $red;
    margin: $pad-mar-small 0 0;
    position: relative;
    z-index: 1;

    &-text {
      font-size: $main-font-size;
      padding: $pad-mar-med;
    }
  }

  &--select {
    position: absolute;
    top: 100%;
  }
}
