/* system-wide helpers */
@import 'core/_variables';
@import 'core/_mixins';
@import 'core/_animations';
@import 'core/_transitions';

#root {
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

body {
  color: $dark-gray;
  font-family: $main-font;
  margin: 0;
}

main {
  min-height: calc(100vh - 200px);
}

.app-container {
  display: grid;
  grid-template: minmax(150px, auto) 1fr 50px / 1fr;
  height: minmax(100vh, 100%);
}

/* start actual styles */
@import 'core/base';
@import 'core/objects';
@import 'core/utilities';
@import 'components/forms';
@import 'components/inputs';
