/* system-wide helpers */
@import 'core/_variables';
@import 'core/_mixins';
@import 'core/_animations';
@import 'core/_transitions';

#root {
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

body {
  color: $dark-gray;
  font-family: $main-font;
  margin: 0;
}

main {
  margin-top: $header-height;
}

/* start actual styles */
@import 'core/base';
@import 'core/objects';
@import 'core/utilities';
